In [1]:
import pandas as pd
qid_query = pd.read_csv("d_task/qid_query.tsv", sep="\t", names=["qid", "query"])
qid_url_rating = pd.read_csv("d_task/qid_url_rating.tsv", sep="\t", names=["qid", "url", "rating"])
hostid_url = pd.read_csv("d_task/hostid_url.tsv", sep="\t", names=["hostid", "url"])
qid_query.head()

      qid                                   query
0  402111           работа фотографом в австралии
1  405851            производительность видеокарт
2  407522  ёлочные игрушки из пластиковых бутылок
3  409073                                    туту
4  438518                характеристика стрельцов

In [2]:
qid_url_rating_hostid = pd.merge(qid_url_rating, hostid_url, on="url")
qid_url_rating_hostid.head()

      qid                                                url  rating  hostid
0  402111  http://24-job.com/board/job_australia/232-1-2-...    0.07       7
1  402111  http://24-job.com/board/job_australia/232-1-2-...    0.07       7
2  402111           http://802351.info/5964-v-avstralii.html    0.00      13
3  402111                 http://auscommunity.com/blog/jobs/    0.00      53
4  402111  http://auscommunity.com/tag/%D1%84%D0%BE%D1%82...    0.00      53

In [3]:
qid_url_rating_hostid['len'] = qid_url_rating_hostid['url'].map(len)
qid_url_rating_hostid.groupby('qid').min()

                                                      url  rating  hostid  len
qid
5308                    http://3pu.info/seo-tools/domains    0.00      10   18
48815                     http://amorami.com.ua/526/print    0.00      41   16
49587                     http://16x.zp.ua/find.php?id=13    0.00       5   27
55082          http://do.gendocs.ru/docs/index-90329.html    0.00     122   22
58989                http://accords.com.ua/song21717.html    0.00      17   29
60304      http://daz.su/nash-otvet/kultura/11/index.aspx    0.00     107   21
63179                          http://afisha.mail.ru/277/    0.00      24   26
70357                  http://09spravki.ru/requisites.php    0.00       1   17
70618              http://alloy.ru/profile/838892015.html    0.00      38   18
79514                            http://hotels-surgut.ru/    0.07     211   24
91889       http://forum.zaural.ru/index.php?topic=3924.0    0.00     164   31
99543   http://akhalkalaki.net/load/kvn/utomlennye_sol...    0.00      28   23
402111  http://24-job.com/board/job_australia/232-1-2-...    0.00       7   20
405851                    http://cheklab.ru/archives/2193    0.00      91   26
407522        http://adalin.mospsy.ru/l_03_00/l0212.shtml    0.00      18   29
409073                               http://avia.tutu.ru/    0.00      60   19
438518               http://arslan.at.ua/horoscopes/9.htm    0.00      46   23
690263  http://27sysday.ru/kak-polzovatsya-avz-antivir...    0.00       8   28
692059         http://8marta.dworik.com/tag/buket-cvetov/    0.07      16   29
692308  http://afisha.mail.ru/cinema/movies/646462_esl...    0.00      24   21

In [4]:
def calculatePLook(pRel):
    pBreak = 0.15
    pLook = [1]
    for rel in pRel[:10]:
        pLook.append(pLook[-1] * (1 - rel) * (1 - pBreak))
    return pLook

def pFound(pRel):
    pLook = calculatePLook(pRel)
    return sum([pLook[i] * pRel[i] for i in range(10)])

In [5]:
for _id in qid_query.qid.unique():
    tmp = qid_url_rating_hostid[qid_url_rating_hostid.qid == _id].groupby('hostid').max()
    pRel = tmp.sort_values('rating', ascending=False)['rating'][:10].values
    print(_id, pFound(pRel))

402111 0.3246487074213401
405851 0.7180718044436781
407522 0.46002759714606223
409073 0.8086431139769671
438518 0.49777098024812655
48815 0.6554475329609241
49587 0.4935988829066396
5308 0.4158196079463747
55082 0.49777098024812655
58989 0.49777098024812655
60304 0.7358360981941223
63179 0.46002759714606223
690263 0.7703529817832434
692059 0.6554475329609241
692308 0.8526277741810554
70357 0.6554475329609241
70618 0.2635955190925
79514 0.7647552811377322
91889 0.34449379237000005
99543 0.772244979414848

In [6]:
qid_query[qid_query.qid == 692308]

       qid                            query
14  692308  бесплатный просмотр камеди клаб

In [7]:
def calculatePLook2(pRel):
    pBreak = 0.9
    pLook = [1]
    for rel in pRel[:7]:
        pLook.append(pLook[-1] * (1 - rel) * (1 - pBreak))
    return pLook

def pFound2(pRel):
    pLook = calculatePLook2(pRel)
    return sum([pLook[i] * pRel[i] for i in range(7)])

In [9]:
for _id in qid_query.qid.unique():
    tmp2 = qid_url_rating_hostid[qid_url_rating_hostid.qid == _id].groupby('hostid').max()
    pRel2 = tmp2.sort_values('rating', ascending=False)['rating'].values
    print(_id, pFound2(pRel2))

402111 0.14663726141688985
405851 0.4347230250082677
407522 0.15317250587795117
409073 0.6263411564055023
438518 0.15317286119147755
48815 0.4190371954685718
49587 0.15317286119147755
5308 0.15312452554507083
55082 0.15317286119147755
58989 0.15317286119147755
60304 0.43472319224006667
63179 0.15317250587795117
690263 0.6159737393775305
692059 0.4190371954685718
692308 0.6269542034577046
70357 0.4190371954685718
70618 0.14663192698
79514 0.6159737393775305
91889 0.15311996392000002
99543 0.6159737393775305

In [11]:
qid_query[qid_query.qid == 70618]

      qid                   query
16  70618  тв-ведущие усть-илимск